@* 
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
 *@
@{
    ViewData["tittle"] = "Calcular";
}
<h1>Calcular</h1>
<div>
    <label>Ingrese un numero</label>
    <input type="text">
</div>
