@model serie_fibonacci.Models.Fibonacci

@{
    ViewData["Title"] = "Create";
}

<h1>Crear Nueva Serie</h1>

<div>
    <a class="btn btn-danger" asp-action="Index">Volver a la lista</a>
</div>
<div class="row" id="crear">
    <div class="col-md-4 gridBgcrear">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  asp-for="Name" class="control-label labelCrear">Nombre</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                @{
                    DateTime tiempo = DateTime.Now;
                    var res = tiempo.ToString("yyyy-MM-dd");
                }

                <input asp-for="Date" class="form-control invisible" value="@res" />
            </div>
            <div class="form-group">
                <label asp-for="FirstNum" class="control-label labelCrear">Primer Numero:</label>
                <input asp-for="FirstNum" class="form-control" />
                <span asp-validation-for="FirstNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondNum" class="control-label labelCrear">Segundo Numero:</label>
                <input asp-for="SecondNum" class="form-control" />
                <span asp-validation-for="SecondNum" class="text-danger"></span>
            </div>
            <div class="form-group">
               
               <input asp-for="SumTotal" class="form-control " value=""/>
               
            </div>
            
            <div class="form-group" id="crearBtn">
                <input type="submit" value="Crear" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
