body {
    background-color: #16396b;
}
.navbar {
    color: white;
    background-color: #015a95;
    font-size: larger;
    font-weight: 600;
    
}
.navcolor {
    color:white;
}
.gridBg {
    background-color: #f2f2f2;
    border-radius: 18px;
    padding: 5px;
    padding-left:20px;
    padding-right:20px;
    margin-bottom:50px;
}
.gridBgcrear {
    background-color: #f2f2f2;
    border-radius: 18px;
    padding: 5px;
    padding:2%;
   
}
.navText {
    color: white;
}
h1 {
    color:white;
    border-bottom:groove;
    border-color:white;
    margin-bottom:2%;
}
.footer {
    background-color: #015a95;
    font-size: larger;
    color:white;
    text-align:center;
}
.socialBtn {
    width:50px;
    height:50px;
    margin:2%;
    fill:white;
 }
.aClass {
    box-sizing:content-box;
}
.btn {
    border-width:1px;
    border-color:black;
    border-radius:5px;
}
#crear {
    justify-content:center;
}
.labelCrear {
    font-weight:550;
}
#crearBtn {
    margin-top:20px;
}
.col {
    margin:13px;
}
.Calcular_GuardarBtn {
      display:flex;
      justify-content:flex-end;
}
#formCalcular {
    margin-top:20px;
}
#numerosAMostar {
    display:flex;
    justify-content:center;
    font-weight:600;
    border-color:black;
    border:groove;
    border-width:3px;
    border-radius:4px;
}
#NombreSerie {
    margin-top: 5%;
    
}
#inptxt {
   
    max-width: 600px;
    display: flex;
    justify-content: center;
}
.MensajeActivo {
    display:block;
}
.MensajeInactivo {
    display:none;
}
